body{
    background-color: #eeeeee !important;
}

/* Navbar styles */
nav.navbar {
    background-color: #ffe600 ;
}

input.form-control{
    border: none;
    font-size: 18px;
}

input.form-control:focus {
    box-shadow: none;
}

button.search-btn{
    background-color: #eeeeee;
    border: none;
}

/* End of navbar styles */